<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/item.css" rel="stylesheet"/>
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script th:inline="javascript">
/*<![CDATA[*/
var app=angular.module("ngApp",[]);
    app.controller("subjectCon",function($scope){
    $scope.subjectInfo= [[${subjectInfo}]];
    });
/*]]>*/


    </script>
</head>
<body ng-app="ngApp">
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">科目</li>
    </ul>
    <!-- gallery -->
    <div id="gallery" class="gallery" ng-controller="subjectCon">
        <div class="container">
            <h3 class="agileits-title w3title1">科目</h3>
            <div class="gallery-grids">
                <div class="gallery-grid col-sm-4 col-md-2" ng-repeat="subject in subjectInfo">
                    <div class="thumbnails grid text-center">
                        <a>
                            <img height="200" src="/subjects/{{subject.path}}/thumbnail.png" alt="{{subject.name}}"/>
                            <div class="figcaption">
                                <p>{{subject.name}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row" ng-controller="subjectCon">-->
    <!--<div ng-repeat="subject in subjectInfo" class="col-xs-2 col-md-3 effect-apollo">-->
    <!--<div class="thumbnails text-center">-->
    <!--<a>-->
    <!--<img height="200" style="display: block;" src="/subjects/{{subject.path}}/thumbnail.png" alt="{{subject.name}}"/>-->
    <!--<div class="figcaption">-->
    <!--<p>{{subject.name}}</p>-->
    <!--</div>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
</body>
</html>
